.mb-20 {
  margin-bottom: 24px;
}
.mr-15 {
  margin-right: 15px;
}
.card-img-top {
  max-height: 200px;
  height: 100%;
  object-fit: cover;
}
.card {
  height: 100%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #212529;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  width: 100%;
  height: calc(100vh - 72px);
  display: block;
}
.pg-title {
  margin-top: 20px;
  margin-bottom: 25px;
}
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  background-color: gray;
}
.qtybox {
  display: inline-block;
  max-width: 100px;
  margin-right: 15px;
  vertical-align: bottom;
}
footer > div {
  background-color: #212529;
  color: #fff;
  padding: 15px 10px;
  text-align: center;
  margin-top: 50px;
}
.notification {
  width: 100%;
  height: 3rem;
  background-color: #1a8ed1;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 15px;
  align-items: center;
  color: white;
  margin-top: 15px;
}
.notification h2,
.notification p {
  font-size: 1rem;
  margin: 0;
}
.error {
  background-color: #690000;
}
.success {
  background-color: #1ad1b9;
}
.cart-qty {
  height: 24px;
  padding: 6px 12px;
}
div#root {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.main-sec {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}